# Cache files
*.zwc
*.zwc.old
*\~

# Atom
files/.atom/.apm
files/.atom/.node-gyp
files/.atom/blob-store
files/.atom/compile-cache
files/.atom/packages/
files/.atom/storage

# Composer
files/.composer/vendor
files/.composer/cache
files/.composer/*.phar
files/.composer/composer.lock
files/.composer/auth.json
files/.composer/keys.*

# Config
files/.config/asciinema
files/.config/codeclimate
files/.config/configstore
files/.config/direnv
files/.config/git
files/.config/heroku
files/.config/hub
files/.config/lab.hcl
files/.config/psysh
files/.config/roots
files/.config/storjshare
files/.config/thefuck/settings.pyc
files/.config/yarn/link
files/.config/zew
files/.config/zbrowse

# Watson
files/.config/watson/frames
files/.config/watson/frames.bak
files/.config/watson/state
files/.config/watson/state.bak

# Unneeded local shares
files/.local/share/bower/

# Maid
files/.maid/maid.log

# Vim
files/.vim/tmp/*
!files/.vim/tmp/.gitkeep
files/.vim/.netrwhist
files/.vim/session/

# Sprout
files/.config/sprout/

# Sublime
files/.sublime/SublimeLinter/*.tmTheme
files/.sublime/Color\ Highlighter/themes/*.tmTheme
files/.sublime/Color\ Highlighter/icons/
files/.sublime/*.cache
files/.sublime/*.crt
files/.sublime/*-ca-bundle
files/.sublime/Package\ Control.last-run
files/.sublime/Projects/recent.json
files/.sublime/Xdebug.log

# Valet
files/.config/valet/CA/*
files/.config/valet/Certificates/*
files/.config/valet/Log/*
files/.config/valet/Nginx/*
files/.config/valet/config.json
files/.config/valet/dnsmasq.conf

# Vladgsound
files/.config/vladgsound/

# Yarn
files/.config/yarn/global/node_modules/
files/.config/yarn/global/node_modules/.yarn-integrity
files/.config/yarn/global/yarn.lock

# ZSH
*.zwc

# Zulu
files/.config/zulu/env.private
files/.config/thefuck/__pycache__/
files/.config/zbrowse/
files/.vim/plugged/
