packages: [
  "aligner"
  "aligner-css"
  "aligner-php"
  "aligner-ruby"
  "aligner-scss"
  "alternatone-stark-sea-syntax"
  "ask-stack"
  "atom-alignment"
  "atom-beautify"
  "atom-formatter-jsbeautify"
  "atom-fuzzy-grep"
  "atom-github-issues"
  "atom-itunes"
  "atom-liquid-snippets"
  "atom-reverser"
  "atom-ternjs"
  "autocomplete-en-en"
  "autocomplete-modules"
  "autocomplete-paths"
  "ava"
  "base16-ocean-dark-spacegray"
  "battery-status"
  "codeception-snippets"
  "codenow"
  "coffee-navigator"
  "crystal-block"
  "crystal-tools"
  "css-specificity"
  "dash"
  "declarations"
  "docblockr"
  "emmet"
  "es6-javascript"
  "file-icons"
  "fold-functions"
  "formatter"
  "formatter-coffeescript"
  "formatter-gofmt"
  "formatter-jsbeautify"
  "formatter-json"
  "formatter-tidy"
  "genesis-ui"
  "git-clone"
  "git-line"
  "git-log"
  "git-plus"
  "git-status"
  "git-time-machine"
  "git-wip"
  "goto"
  "html-nested-comments"
  "imdone-atom"
  "imdone-atom-github"
  "intentions"
  "intentions-numbers"
  "jade-beautify"
  "language-bats"
  "language-crystal-actual"
  "language-markdown"
  "language-pug"
  "line-count-status"
  "linter"
  "linter-alex"
  "linter-annotations"
  "linter-checkbashisms"
  "linter-coffee-variables"
  "linter-coffeelint"
  "linter-crystal"
  "linter-flow"
  "linter-htmlhint"
  "linter-jsonlint"
  "linter-just-say-no"
  "linter-package-json-validator"
  "linter-php"
  "linter-phpmd"
  "linter-proselint"
  "linter-sass-lint"
  "linter-shellcheck"
  "linter-write-good"
  "linter-xo"
  "mac-fix-path"
  "merge-conflicts"
  "minimap"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-linter"
  "minimap-pigments"
  "minimap-selection"
  "minimap-split-diff"
  "npm-plus"
  "one-tab"
  "oracle-format"
  "package-cop"
  "package-sync"
  "php-cs-fixer"
  "php-debug"
  "php-getters-setters"
  "php-integrator-annotations"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-linter"
  "php-integrator-navigation"
  "php-integrator-refactoring"
  "php-integrator-tooltips"
  "pigments"
  "project-manager"
  "project-plus"
  "pull-requests"
  "qolor"
  "script"
  "sequential-number"
  "smart-tags"
  "sort-lines"
  "spacegray-dark-neue-ui"
  "standard-formatter"
  "synced-sidebar"
  "tab-title"
  "tidy-tabs"
  "travis-ci-status"
  "tree-view-git-branch"
  "tree-view-git-status"
  "url-encode"
]
