# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.source.php':
  'test':
    'prefix': 'test'
    'body': """
        test(\'${1:My Awesome Test}\', function($t${2:, $param1}) {
            ${3:// Test code goes here}
        });
    """
    'leftLabel': 'Phillip\Test'
    'description': 'Define a test'
    'descriptionMoreURL': 'http://philliphq.github.io/write-tests/'
  'assertion':
    'prefix': 'is'
    'body': """
        $t->is(${1: value})->${3:assertion}();
    """
    'description': 'Make an assertion'
