# This is Git's per-user configuration file.
[core]
  # Please adapt and uncomment the following lines:
  user = James Dinsdale
	email = hi@molovo.co
	excludesfile = /Users/molovo/.gitignore_global
[user]
	name = James Dinsdale
	email = hi@molovo.co
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
  tool = Kaleidoscope
  conflictstyle = diff3
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[init]
	templatedir = /Users/molovo/.git_template
[hooks]
[commit]
  template = /Users/molovo/.git_commit_msg
[color "decorate"]
  current = blue
  local = magenta
  head = blue
  tag = yellow

[push]
	default = simple
  followTags = true
[transfer]
  fsckobjects = true
[alias]
	up = !git fetch && git rebase --autostash FETCH_HEAD
