# This is Git's per-user configuration file.
[core]
  # Please adapt and uncomment the following lines:
  user = James Dinsdale
	email = hi@molovo.co
	excludesfile = /Users/molovo/.gitignore_global
[user]
	name = James Dinsdale
	email = hi@molovo.co
	signingkey = 39C8E95B7DF422AF
[diff]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[merge]
  tool = Kaleidoscope
  conflictstyle = diff3
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[pull]
	rebase = true
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[init]
	templatedir = /Users/molovo/.git_template
	defaultBranch = main
[hooks]
[commit]
  template = /Users/molovo/.git_commit_msg
	gpgsign = true
[color "decorate"]
  current = blue
  local = magenta
  head = blue
  tag = yellow

[push]
	default = simple
  followTags = true
[transfer]
  fsckobjects = true
[alias]
	up = !git fetch && git rebase --autostash FETCH_HEAD

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/molovo/.netlify/helper/git-config
[url "git@github.com:"]
	insteadOf = git://github.com/
